html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.video-container {
  height: 90%;
}

#remote-media {
  height: 100%;
  background-color: #555;
}

#remote-media video {
  height: 100%;
  width: 50%;
  display: inline-block;
  background-color: #555;
  object-fit: cover;
}

.footer {
  height: 10%;
}

#preview,#controls {
  display: inline-block;
}

#preview, #local-media {
  height: 100%;
}

#local-media video {
  height: 100%;
}
